#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/home/default/Downloads/images.jpeg
Name[en_GB]=Juniper VPN Client
Name=Juniper VPN Client
Icon=/home/default/Downloads/images.jpeg
Exec=junipernc
Comment[en_GB]=Juniper VPN Client
Comment=Juniper VPN Client
